MINER_OPENROUTER_API_KEY=sk-or-...
MINER_OPENROUTER_MODEL=google/gemini-2.5-flash-image

### Optional
# MINER_PROMPT=Edit this image to add a cat...
# MINER_OPENROUTER_URL=https://openrouter.ai/api/v1/chat/completions
# MINER_PORT=9090
# MINER_PATH=/process

### Axon updater - registers serving address on chain and updates it automatically afterwards.
## When enabled:
## - the netuid becomes required
## - default port will be the same as the one above
## - default IP will be determined automatically by querying an external service
# MINER_UPDATE_AXON=false
# MINER_NETUID=
## Hint: 127.0.0.1 or localhost will not work. Rejected by subtensor. Use 127.0.0.2 instead.
# MINER_EXTERNAL_IP=
# MINER_EXTERNAL_PORT=
# MINER_SERVE_INTERVAL=60
# MINER_WALLET_NAME=default
# MINER_HOTKEY_NAME=default
# MINER_SUBTENSOR_NETWORK=finney
